<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.lx.dem.mapper.TestMapper">

    <select id="list" resultType="com.lx.dem.domain.Test">
        select `id`, `name`, `password` from `test`
    </select>

</mapper>